* {
    padding: 0;box-sizing: border-box;
    margin: 0;

}

body{background-color: rgb(254, 252, 252);}
header{
background-color: rgb(12, 12, 12);
color: aliceblue;
padding-top: 50px;
padding-inline: 50px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
gap: 30px;
font-family: Arial, Helvetica, sans-serif;
margin-bottom: 20;
background:linear-gradient(rgb(240, 240, 240),blue,black)


}
h1{
margin-bottom: 10px;

}

 ul{
        display: flex;
        justify-content: space-around;
        font-style: oblique;
        display: flex;
        gap: 20px;
        list-style-type: none;
        font-size: 30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        gap: 100px;
        
    }

    
    
    a {
        color: rgb(249, 248, 246);
        text-decoration: none;
    }


    div{
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        align-items: center;
      font-family: 'Times New Roman', Times, serif;
       gap: 10px;
       padding: 20px;
        
    }







 
